SQLPATTERN RCDATA LOADONCALL MOVEABLE DISCARDABLE "CMandb.sql"
SQLDEFS RCDATA LOADONCALL MOVEABLE DISCARDABLE "CMandf.sql"
SQLUPD_0_1 RCDATA LOADONCALL MOVEABLE DISCARDABLE "CMandb_0_1.sql"
SQLUPD_1_2 RCDATA LOADONCALL MOVEABLE DISCARDABLE "CMandb_1_2.sql"
