BASEICON ICON LOADONCALL MOVEABLE DISCARDABLE "..\res\cvalidate32.ico"
LARGEICON ICON LOADONCALL MOVEABLE DISCARDABLE "..\res\cmanager32.ico"
SMALLICON ICON LOADONCALL MOVEABLE DISCARDABLE "..\res\cmanager16.ico"