SMALLICON ICON LOADONCALL MOVEABLE DISCARDABLE "..\res\cmanager16.ico"
LARGEICON ICON LOADONCALL MOVEABLE DISCARDABLE "..\res\cmanager32.ico"
INFOAVI AVI LOADONCALL MOVEABLE DISCARDABLE "..\res\info.avi"