CONTRIB RCDATA LOADONCALL MOVEABLE DISCARDABLE "contrib.txt"
REPCSS RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\report.css"
REPBASE RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\report.htm"
REPXSL RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\transform.xml"
RATESXSD RCDATA LOADONCALL MOVEABLE DISCARDABLE ".\plugins\rates.xsd"
EXTRACTIONSXSD RCDATA LOADONCALL MOVEABLE DISCARDABLE ".\plugins\extractions.xsd"
EXCHANGESXSD RCDATA LOADONCALL MOVEABLE DISCARDABLE ".\plugins\exchanges.xsd"
CHARTSXSD RCDATA LOADONCALL MOVEABLE DISCARDABLE ".\plugins\charts.xsd"
DEFAULTXSL RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\defaultss.xsl"
PL_001004000000 RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\info\pl_001004000000.html"
PL_001008002000 RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\info\pl_001008002000.html"
PL_001010002000 RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\info\pl_001010002000.html"


