CONTRIB RCDATA LOADONCALL MOVEABLE DISCARDABLE "contrib.txt"
REPCSS RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\report.css"
REPBASE RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\report.htm"
REPXSL RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\transform.xml"


