CONTRIB RCDATA LOADONCALL MOVEABLE DISCARDABLE "contrib.txt"
REPCSS RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\report.css"
REPBASE RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\report.htm"
REPXSL RCDATA LOADONCALL MOVEABLE DISCARDABLE "..\res\transform.xml"
RATESXSD RCDATA LOADONCALL MOVEABLE DISCARDABLE ".\plugins\rates.xsd"
EXTRACTIONSXSD RCDATA LOADONCALL MOVEABLE DISCARDABLE ".\plugins\extractions.xsd"
EXCHANGESXSD RCDATA LOADONCALL MOVEABLE DISCARDABLE ".\plugins\exchanges.xsd"


