ICON256 ICON LOADONCALL MOVEABLE DISCARDABLE "cmanager256.ico"
ICON48 ICON LOADONCALL MOVEABLE DISCARDABLE "cmanager48.ico"
BASEICON ICON LOADONCALL MOVEABLE DISCARDABLE "cmanager32.ico"
LARGEICON ICON LOADONCALL MOVEABLE DISCARDABLE "cmanager32.ico"
SMALLICON ICON LOADONCALL MOVEABLE DISCARDABLE "cmanager16.ico"
