ICON256 ICON LOADONCALL MOVEABLE DISCARDABLE "1.ico"
ICON48 ICON LOADONCALL MOVEABLE DISCARDABLE "2.ico"
ICON32 ICON LOADONCALL MOVEABLE DISCARDABLE "3.ico"
ICON16 ICON LOADONCALL MOVEABLE DISCARDABLE "4.ico"
BASEICON ICON LOADONCALL MOVEABLE DISCARDABLE "cmanager32.ico"
LARGEICON ICON LOADONCALL MOVEABLE DISCARDABLE "cmanager32.ico"
SMALLICON ICON LOADONCALL MOVEABLE DISCARDABLE "cmanager16.ico"
