body
{
color: black;
font-family: Verdana, Arial;
font-size: 12px;
background-color: white;
}
table.base
{
border: 0px;
border-collapse: collapse;
width: 100%;
}
tr.base
{
height: 25px
}
tr.evenbase
{
height: 25px;
background-color: #F5F5F5;
}
tr.head
{
height: 25px;
background-color: #CCFFCC;
}
tr.evenhead
{
height: 25px;
background-color: #CCFACC;
}
tr.sum
{
height: 25px;
background-color: #CCCCFF;
}
tr.evensum
{
height: 25px;
background-color: #C2C2F5;
}
td.cash
{
padding-left: 8px;
padding-right: 8px;
text-align: right;
}
td.text
{
padding-left: 8px;
padding-right: 8px;
text-align: left;
}
td.center
{
padding-left: 8px;
padding-right: 8px;
text-align: center;
}
td.infotext
{
padding-left: 8px;
padding-right: 8px;
font-size: 10px;
text-align: left;
}
td.headtext
{
padding-left: 8px;
padding-right: 8px;
font-weight: bold;
text-align: left;
}
td.headcenter
{
padding-left: 8px;
padding-right: 8px;
font-weight: bold;
text-align: center;
}
td.headcash
{
padding-left: 8px;
padding-right: 8px;
font-weight: bold;
text-align: right;
}
td.sumtext
{
padding-left: 8px;
padding-right: 8px;
font-weight: bold;
text-align: left;
}
td.sumcash
{
padding-left: 8px;
padding-right: 8px;
font-weight: bold;
text-align: right;
}
hr
{
height: 1px;
width: 100%;
}
.reptitle
{
font-size: 16px;
font-weight: bold;
color: navy;
font-family: Verdana, Arial;
}
.repfooter
{
font-size: 10px;
color: navy;
font-family: Verdana, Arial;
text-align: right;
}