body {
color: black;
font-family: Verdana, Arial;
font-size: 12px;
background-color: white;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
}
.clickableTextHighlited
{
color: Navy;
cursor: pointer;
}
.clickableTextNormalized
{
color: black;
cursor: default;
}